<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <div>
        <h3>Khoá học của tôi</h3>
        <div class="d-flex">
            <a class="btn btn-secondary" href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
            <a class="btn btn-primary ml-auto" href="/courses/create">Thêm khoá học</a>
        </div>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
            </div>

            <select class="custom-select custom-select-sm mt-2 checkbox-select-all-options" name="action" required="required">
                <option value="">-- Chọn hành động --</option>
                <option value="delete">Xoá</option>
            </select>

            <button class="btn btn-primary btn-sm check-all-submit-btn" disabled="disabled">Thực hiện</button>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">
                    Tên khoá học
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">
                    Trình độ
                    {{{sortable 'level' _sort}}}
                </th>
                <th scope="col" colspan="2">
                    Thời gian tạo
                    {{{sortable 'createdAt' _sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </th>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="#" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-modal">Xoá</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khoá học nào.
                    <a href="/courses/create">Đăng khoá học ngay thôi!!</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xoá khoá học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xoá khoá học này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" id="btn-delete-course" class="btn btn-danger">Xoá khoá học</button>
            </div>
        </div>
    </div>
</div>

{{!-- DELETE hidden form --}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', e => {
        let courseId;
        const btnDeleteCourse = document.getElementById('btn-delete-course');
        // const containerForm = document.forms['container-form'];
        const deleteForm = document.forms['delete-course-form'];
        const checkboxAll = $('#checkbox-all');
        const courseItemCheckbox = $('input[name="courseIds[]"]');
        const checkAllSubmitBtn = $('.check-all-submit-btn');
        const containerForm = $('form[name="container-form"]')

        // when delete dialog clicked
        $('#delete-course-modal').on('show.bs.modal', event => {
            const button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        // when delete btn clicked
        btnDeleteCourse.onclick = () => {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }

        // checkbox all change
        checkboxAll.change(function() {
            const isCheckedAll = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // course item checkbox change
        courseItemCheckbox.change(function() {
            let isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // re-render check all submit btn
        function renderCheckAllSubmitBtn() {
            const checkedCount = $('input[name="courseIds[]"]:checked').length;
            if(checkedCount > 0) {
                checkAllSubmitBtn.attr('disabled', false);
            } else {
                checkAllSubmitBtn.attr('disabled', true);
            }
        }
    });
</script>