<div class="mt-4">
    <div>
        <a class="btn btn-primary" href="/me/stored/courses">Danh sách các khoá học hiện tại</a>
        <h3 class="mt-4">Khoá học đã xoá</h3>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khoá học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian xoá</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="#" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="#" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-modal">Xoá vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác trống!
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xoá khoá học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Hành động này không thể khôi phục! Bạn vẫn muốn xoá khoá học này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" id="btn-delete-course" class="btn btn-danger">Xoá vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let courseId;
        const deleteCourseBtn = document.getElementById('btn-delete-course');
        const deleteForm = document.forms['delete-course-form'];
        const restoreForm = document.forms['restore-course-form'];
        const restoreBtn = $('.btn-restore');

        // when delete dialog clicked
        $('#delete-course-modal').on('show.bs.modal', event => {
            const button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        // when delete btn clicked
        deleteCourseBtn.onclick = () => {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        // Restore btn clicked
        restoreBtn.click(function(e) {
            e.preventDefault();
            courseId = $(this).data('id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
    });
</script>